<script type="text/html" id="template-systemTools">
	<div class="content-header">
		<span>系统工具</span>
	</div>
	<div class="row systemDiv">
		<!--<div class='col-lg-3 col-md-4 col-sm-6' data-bind="click:undfan.systemTools.goToiframe" data-iframe="restartSG">
			<i class="iconfont systemI restartSG"></i>
			<P class="systemP">重启网关</P>
		</div>
		<div class='col-lg-3 col-md-4 col-sm-6' data-bind="click:undfan.systemTools.goToiframe" data-iframe="restartSGServer">
			<i class="iconfont systemI restartSGServer"></i>
			<P class="systemP">重启网关服务</P>
		</div>
		<div class='col-lg-3 col-md-4 col-sm-6' data-bind="click:undfan.systemTools.goToiframe" data-iframe="sysUpdate">
			<i class="iconfont systemI sysUpdate"></i>
			<P class="systemP">系统升级</P>
		</div>-->
		<div class='col-lg-3 col-md-4 col-sm-6' data-bind="click:undfan.systemTools.goToiframe" data-iframe="serchHistData">
			<i class="iconfont systemI serchHistData"></i>
			<P class="systemP">查看历史数据</P>
		</div>
		<div class='col-lg-3 col-md-4 col-sm-6' data-bind="click:undfan.systemTools.goToiframe" data-iframe="serialHelper">
			<i class="iconfont systemI serialHelper"></i>
			<P class="systemP">串口助手</P>
		</div>
		<!--<div class='col-lg-3 col-md-4 col-sm-6' data-bind="click:undfan.systemTools.goToiframe" data-iframe="backupsData">
			<i class="iconfont systemI backupsData"></i>
			<P class="systemP">备份数据</P>
		</div>
		<div class='col-lg-3 col-md-4 col-sm-6' data-bind="click:undfan.systemTools.goToiframe" data-iframe="recoveryData">
			<i class="iconfont systemI recoveryData"></i>
			<P class="systemP">恢复数据</P>
		</div>-->

	</div>

</script>